
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0 20px;
    background-color: #f4f4f4; 
    color: #333;  
}

/* Navigation Bar */
header {
    background-color: #2C3E50; 
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; 
}

nav ul li a:hover {
    color: #3498db; 
}

/* Main*/
main {
    padding: 20px 0;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    color: #2C3E50; 
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.service-item {
    background-color: #ECF0F1; 
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-5px); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

/* Footer  */
footer {
    background-color: #2C3E50; 
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Media Quries */

/* Tablet */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    .service-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    h1 {
        font-size: 2rem; 
    }

    h2 {
        font-size: 1.5rem;
    }
}

/* Mobile View */
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .service-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.3rem;
    }
}
